.home {
  & .header {
    margin-bottom: 0;
  }
}

.header {
  padding: 10px 0 0;
  background-color: $headerBgColor;
  color: $headerFontColor;
  margin-bottom: 15px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    border: 2px solid $primary_color_1;
    border-radius: $border_round_radius;
    color: $primary_color_1;
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    &:hover, &:focus {
      border-color: $themeColorThree;
      color: $themeColorThree;
    }
  }
}
