.cars-section {
  &__top-section {
    width: 100%;
    position: relative;
  }

  &__main-image {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  &__container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 33;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  &__caption {
    background: $glass_bg_color;
    padding: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__description {
    color: $primary_color_1;
    font-size: 15px;
    line-height: 1.3;
    position: relative;
    margin-bottom: 20px;
    text-align: center;

    &:before {
      content: '';
      background: $themeColorThree;
      display: block;
      width: 50px;
      height: 1px;
      position: absolute;
      transform: translateX(-50%);
      top: calc(100% + 10px);
      left: 50%;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 575px) {
  .cars-section {
    &__container {
      transform: translate(-50%, 0);
      padding: 0 15px;
      top: 20%;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__caption {
      max-width: 420px;
      padding: 25px;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &__description {
      text-align: left;
      font-size: 18px;
      margin-bottom: 30px;

      &:before {
        transform: none;
        top: calc(100% + 15px);
        left: 0;
      }
    }
  }
}

.cars-content {
  padding: 35px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0;
  }

  &__block {
    width: 100%;
    max-width: 350px;

  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    width: 100%;
  }

  &__field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  &__value {
    color: $primary_color_1;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    display: block;
    opacity: 0;
  }

  &__prefix {
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 5px;
    opacity: 0;
  }

  &__description {
    color: $description_text_color;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .cars-content {
    padding: 60px 0;

    &__wrapper {
      flex-direction: row;
      align-items: center;
      padding: 60px 0;
    }

    &__item {
      padding: 10px 30px;
      transform: skew(-160deg);
      height: 150px;
      min-width: 290px;
    }

    &__block {
      width: auto;
      max-width: none;
      transform: skew(160deg);

      &:nth-child(2) {
        border-left: 1px solid $themeColorThree;
        border-right: 1px solid $themeColorThree;
      }
    }

    &__value {
      font-size: 90px;
      height: 80px;
    }

    &__prefix {
      margin-right: -45px;
    }

    &__description {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .cars-content {
    &__item {
      min-width: 350px;
    }
  }
}