.main-title {
  margin: 10px 0 15px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .main-title {
    text-align: left;

    &.text-center {
      text-align: center;
    }
  }
}

.categories-section {
  padding: 25px 0;

  &__description {
    color: $description_text_color;
    text-align: center;
    font-size: 18px;
  }

  &__wrapper {
    padding-top: 30px;
  }

  &__list {
    @extend %reset-list;

    & .slick-list {
      padding: 8px 0;
    }

    & .menu-item {
      padding: 20px 15px;
      margin: 0 0 -1px;
      cursor: pointer;
      position: relative;
      border-bottom: 1px solid $dark_border_color;

      &.slick-current {
        border-bottom: 2px solid $themeColorThree;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 7px solid $themeColorThree;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          bottom: -7px;
          z-index: 1;
        }
      }

      & .menu-link {
        font-size: 18px;
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .categories-section {
    &__list {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media screen and (min-width: 992px) {
  .categories-section {
    padding: 4% 0;
  }
}

@media screen and (max-width: 449px) {
  .categories-section {

    &__list {

      & .slick-list {
        padding: 8px 0;
      }

      & .menu-item {
        padding: 20px 15px;
        margin: 0 0 -1px;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid $dark_border_color;
        text-align: center;

        &.slick-current {
          border-bottom: 1px solid $dark_border_color;

          &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 7px solid $themeColorThree;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: -7px;
            z-index: 1;
          }

          & .menu-link {
            &:before {
              content: '';
              background: $themeColorThree;
              display: block;
              width: 100%;
              height: 2px;
              position: absolute;
              transform: translateX(-50%);
              top: calc(100% + 21px);
              left: 50%;
              z-index: 1;
            }
          }
        }

        & .menu-link {
          font-size: 18px;
          text-align: center;
          display: inline-block;
          width: auto;
          position: relative;
        }
      }
    }
  }
}

.block-advantages {
  background: $themeColorTwo;
  width: 100%;
  padding: 25px 0;
  margin: 25px 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px 0;
  }

  &__item-wrapper {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 15px;
  }

  &__item {
    border: 1px solid $dark_border_color;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6% 20px;
  }

  &__icon {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
  }

  &__description {
    color: $primary_color_1;
    font-size: 18px;
    line-height: normal;
    font-weight: 700;
  }

  &__text-block {
    color: $description_text_color;
    font-size: 16px;
    padding-top: 15px;
    text-align: left;
  }
}

@media screen and (min-width: 475px) {
  .block-advantages {
    &__item-wrapper {
      width: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  .block-advantages {
    &__item-wrapper {
      width: 33.333%;
    }
  }
}

@media screen and (min-width: 992px) {
  .block-advantages {
    &__item-wrapper {
      width: 25%;
    }
  }
}

@media screen and (min-width: 992px) {
  .block-advantages {
    padding: 4% 0;
    margin: 3% 0;

    &__item {
      position: relative;
      transition: all 0.2s;

      &:hover {
        transition: all 0.2s;
        box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.6);

        & .block-advantages__text-block {
          transition: all 0.2s;
          box-shadow: 0 35px 20px 6px rgba(0, 0, 0, 0.7);
          display: block;
        }
      }
    }

    &__text-block {
      border: 1px solid $dark_border_color;
      border-top: none;
      background: $themeColorTwo;
      display: none;
      position: absolute;
      left: -1px;
      top: 85%;
      width: calc(100% + 2px);
      padding: 0 20px 15%;
      z-index: 33;
      transition: all 0.2s;
    }
  }
}

.order-info {
  width: 100%;
  padding: 25px 0;

  &__wrapper {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: none;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 60px;
    max-width: 120px;
  }

  &__description {
    color: $footer_text_color;
    background: $themeColorOne;
    font-size: 18px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__item-title {
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
  }
}

@media screen and (max-width: 1023px) {
  .order-info {
    &__description {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .order-info {

    &__item-title {
      text-align: unset;
    }

    &__wrapper {
      padding: 55px 0;
    }

    &__description {
      font-size: 15px;
    }

    &__list {
      border: 1px solid $order_border_color;
      border-radius: $border_round_radius;
      width: 420px;
      height: 420px;
      position: relative;

      &:before {
        content: '';
        border: 1px solid $order_border_color;
        border-radius: $border_round_radius;
        display: block;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        position: absolute;
        left: -5px;
        top: -5px;
        z-index: 1;
      }
    }

    &__logo {
      display: block;
      box-sizing: border-box;
      width: 155px;
      height: 155px;
      border-radius: 50%;
      animation: spin 3000ms linear infinite normal;
      position: relative;
      z-index: 5;
    }

    &__item-title {
      color: $primary_color_1;
      font-size: 18px;
    }

    &__description {
      background: $glass_black_color;
      padding: 10px 15px;
    }

    &__item {
      position: absolute;
      z-index: 33;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90px;
      cursor: pointer;
      margin-bottom: 0;

      &:hover {
        & .order-info__description {
          display: block;
          opacity: 1;
          visibility: visible;
          transition: all 0.2s;
        }
      }

      &:nth-child(1) {
        transform: translateX(-50%);
        top: -55px;
        left: 50%;
        flex-direction: column-reverse;

        & .order-info__icon {
          width: 170px;
          height: 50px;
          padding: 0 25px;
          margin-top: -10px;
        }

        & .order-info__description {
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: 100%;
          z-index: 33;
          width: 300px;
          text-align: center;
        }
      }

      &:nth-child(2) {
        transform: translateY(-50%);
        top: 50%;
        right: -235px;
        flex-direction: row;

        & .order-info__icon {
          width: 100px;
          height: 100px;
          padding: 20px;
        }

        & .order-info__item-title {
          max-width: 180px;
          padding-left: 15px;
        }

        & .order-info__description {
          position: absolute;
          left: 100px;
          top: 100%;
          z-index: 33;
          width: 100%;
        }
      }

      &:nth-child(3) {
        transform: translateX(-50%);
        bottom: -55px;
        left: 50%;

        & .order-info__icon {
          width: 100px;
          height: 100px;
          padding: 10px;
        }

        & .order-info__caption {
          position: relative;
        }

        & .order-info__description {
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: 100%;
          z-index: 33;
          padding-top: 15px;
          width: 400px;
          text-align: center;
        }

        & .order-info__item-title {
          margin: 0;
        }
      }

      &:nth-child(4) {
        transform: translateY(-50%);
        top: 50%;
        left: -190px;
        flex-direction: row-reverse;

        & .order-info__icon {
          width: 100px;
          height: 100px;
          padding: 20px;
        }

        & .order-info__item-title {
          max-width: 140px;
          text-align: right;
        }

        & .order-info__description {
          position: absolute;
          transform: translateX(-50%);
          right: -35px;
          top: 100%;
          z-index: 33;
          width: 100%;
          text-align: right;
        }
      }
    }

    &__icon {
      background: $themeColorOne;
      max-width: none;
    }

    &__description {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
    }
  }
}

@media screen and (min-width: 992px) {
  .order-info {
    padding: 10px 0 170px;
  }
}

.bottom-section {
  width: 100%;
  padding: 30px 0;

  &__wrapper {
    width: 100%;
  }

  &__item {
    background: $themeColorTwo;
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 100%;
    max-width: 120px;
  }

  & .slick-arrow {
    background: $glass_bg_color;
    width: 30px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    cursor: pointer;

    &.slick-prev {
      left: 15px;
    }

    &.slick-next {
      right: 15px;
    }

    & .slider-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      fill: $primary_color_1;
    }
  }
}

@media screen and (min-width: 992px) {
  .bottom-section {
    padding: 4% 0;

    &__wrapper {
      padding: 15px 0;
    }

    & .slick-arrow {
      width: 40px;
      height: 60px;
    }

    & .slider-icon {
      width: 30px;
      height: 30px;
    }
  }
}

.seo-text {
  padding: 30px 0;
}

@media screen and (min-width: 1024px) {
  .seo-text {
    padding: 15px 0 5%;
  }
}