.main-title {
  margin: 10px 0 15px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .main-title {
    text-align: left;

    &.text-center {
      text-align: center;
    }
  }
}

.categories-section {
  padding: 25px 0;

  &__description {
    color: $description_text_color;
    text-align: center;
    font-size: 18px;
  }

  &__wrapper {
    padding-top: 30px;
  }

  &__list {
    @extend %reset-list;

    & .slick-list {
      padding: 8px 0;
    }

    & .menu-item {
      padding: 20px 15px;
      margin: 0 0 -1px;
      cursor: pointer;
      position: relative;
      border-bottom: 1px solid $dark_border_color;

      &.slick-current {
        border-bottom: 2px solid $themeColorThree;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 7px solid $themeColorThree;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          bottom: -7px;
          z-index: 1;
        }
      }

      & .menu-link {
        pointer-events: none;
        font-size: 18px;
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .categories-section {
    &__list {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media screen and (min-width: 992px) {
  .categories-section {
    padding: 4% 0;
  }
}

.block-advantages {
  background: $themeColorTwo;
  width: 100%;
  padding: 25px 0;
  margin: 25px 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px 0;
  }

  &__item-wrapper {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 15px;
  }

  &__item {
    border: 1px solid $dark_border_color;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15% 20px;
  }

  &__icon {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
  }

  &__description {
    color: $primary_color_1;
    font-size: 18px;
    line-height: normal;
  }
}

@media screen and (min-width: 400px) {
  .block-advantages {
    &__item-wrapper {
      width: 50%;
    }
  }
}

@media screen and (min-width: 768px) {
  .block-advantages {
    &__item-wrapper {
      width: 33.333%;
    }
  }
}

@media screen and (min-width: 992px) {
  .block-advantages {
    &__item-wrapper {
      width: 25%;
    }
  }
}

@media screen and (min-width: 992px) {
  .block-advantages {
    padding: 4% 0;
    margin: 3% 0;
  }
}
