@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

$font-family-sans-serif: 'Tinos', serif;

$fontFamilyOne: $font-family-sans-serif; // titles
$fontFamilyTwo: $font-family-sans-serif; // body
